* {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    width: 500px;
  }
  
=======
  margin: 0;
  padding: 0;
}

.navbar {
  width: 500px;
}
>>>>>>> 09641687bb2c5a824090e63ecc3606ee4b906e2a
